* {
  color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: auto;
  width: 72%;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 36px;
  color: white;
  border-bottom: 1px solid black;
}

.weather:hover {
  cursor: pointer;
}

.weather {
  position: fixed;
  top: 25px;
  right: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 120px;
}

.weather img {
  height: 90px;
  width: 90px;
}

.weatherdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.moon {
  height: 100px;
  width: 100px;
}

.garden {
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px 20px;
  padding-top: 20px;
  justify-items: center;
  justify-content: space-evenly;
}

.plantCard {
  width: 350px;
  height: 500px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  color: black;
}

form {
  background-color: #f7f7f9;
  border: 3px solid #f1f1f1;
  width: 500px;
  height: auto;
  padding: 15px;
  font-size: 20px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 18px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.actionbuttons {
  display: flex;
  height: 100px;
  justify-content: space-around;
  align-items: center;
}

.exit {
  background-color: maroon
}

button:hover {
  opacity: 0.8;
}

.PlantImg {
  height: 100px;
  width: 100px;
  padding: 50px 123px 50px 123px;
  border-bottom: 1px solid black;
  background-color: white;
  border-radius: 3px;
}

.plantDesc {
  padding-left: 10px;
  width: 330px;
  color: black;
  padding-top: 10px;
}

.plantDesc div {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
}

footer {
  position: fixed;
  bottom: 10px;
  left: 15px;
}

.noplants {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.noplants div {
  padding: 10px;
}

.navigation {
  width: 100%;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
  height: auto;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px 20px;
  justify-items: center;
  justify-content: space-evenly;
}

.navbuttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 120px 50px 120px;
}

.navbuttons:hover {
  cursor: pointer;
  padding: 50px 120px 50px 120px;
}

.addSeeds {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#addnav {
  background-color: rgba(211, 242, 222, .4);
}

#waternav {
  background-color:rgba(204,232,253, .4)
}

#fertnav {
  background-color: rgba(254,202,29, .2)
}

#compostnav {
  background-color: rgba(255, 99, 71, .2);
}

.addSeeds img {
  width: 70px;
  height: 70px;
}

.waterPlants img, .editGarden img, .fertPlants img, .compost img{
  width: 70px;
  height: 70px;
}

.waterPlants {
  width: 100px;
  height: 100px;
  border-radius: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.fertPlants {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.compost {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.wateractionbtn, .fertactionbtn, .compostactionbtn {
  height: 52px;
  width: 52px;
  padding: 15px 31px 15px 31px;
  border-top: 1px black dashed;
}

.wateractionbtn:hover {
  cursor: pointer;
  background-color:rgba(204,232,253, .4)
}

.fertactionbtn:hover {
  cursor: pointer;
  background-color: rgba(254,202,29, .2)
}

.compostactionbtn:hover {
  cursor: pointer;
  background-color: rgba(255, 99, 71, .2);
}

.actionbtn div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, .50);
  z-index: 2;
}

.modal-main {
  position:fixed;
  background: white;
  width: auto;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border: 1px solid black;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
